.nav-container {
  position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px ;
}
.icon-nav {
  font-size: 30px;
  cursor: pointer;
}

/* Hiển thị trên màn hình máy tính */
@media (min-width: 740px) {
    .nav-mobile, .search-bar, .menu-icon, .mobile-nav-bar {
      display: none;
    }
    
    .nav-header {
      display: flex;
    }
  }
  
  /* Hiển thị trên màn hình điện thoại */
  @media (max-width: 740px) {
    .nav-header, .link, .link-1 {
      display: none;
    }

    .ip-nav {
      height: 25px ;
      border-radius: 5px;
    }

    .mobile-nav-bar {
      position: absolute;
      right: 14%;
      display: grid;
      padding: 20px;
      background-color: white ;
      box-shadow: 5px 5px 5px #c4c4c4;
      width: 200px;
      height: auto;
      border-radius: 10px;
      border: 1px solid #c4c4c4;
      text-align: left;
    }
    .link-bar {
      height: 40px;
      padding: 0 20px;
      text-decoration: none;
      font-weight: bold;
      color: black;
  }
  .link-1-bar {
      height: 40px;
      padding: 0 20px;
      text-decoration: none;
      font-weight: bold;
      color: #F97525;
  }
}

.nav-img {
    width: 30%;
    display: flex;
    justify-content: left;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.link {
    padding: 0 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.link-1 {
    padding: 0 20px;
    text-decoration: none;
    font-weight: bold;
    color: #F97525;
}
.nav-mobile {
    display: flex;
}
.search-bar {
    padding-left: 20px;
}
